@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source "../node_modules/heroui-native/lib";

/* global.css */
@layer theme {
    @variant light {
        /* Override any color variable */
        --accent: oklch(0.65 0.25 270);
        /* Custom indigo accent */
        --success: oklch(0.65 0.15 155);
    }

    @variant dark {
        --accent: yellow;
        --success: oklch(0.75 0.12 155);
    }
}